<script id="tmpl-MainView" type="text/html">
<div class="MainView">
	<div class="MainView-header">
	<div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li class="active"><a href="#" class="showFriends">Friend</a></li>
<!--                  <li><a href="#" class="showPosts">Post</a></li>
                    <li><input type="text" name="q" style="width: 150px">
                        <select name="searchType">
                            <option value="post">Post</option>
                            <option value="user">People</option>
                            <option value="page">Pages</option>
                            <option value="event">Events</option>
                        </select><a href="" name="search">Search</a>
                    </li>-->
                </ul>
              </div>
            </div>
  	</div>
	
  	<div class="MainView-content">
  	</div>
</div>
</script>